*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}
body{
    background: rgb(137, 43, 226, 0.476);
}
.cards{
    width: 350px;
    height: 250px;
    background: white;
    margin: 110px auto;
    border-radius: 20px;
    transition: 0.8s;
}
.img{
    width: 310px;
    height: 220px;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 20px 20px 0 0;
    transform: translateY(-100%);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.367);
    transition: 0.8s;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.text{
    padding: 19px;
    transform: translateY(12%);
    transition: 0.8s;
}
.cards:hover .img{
    transform: translateY(-120%);
}
.cards:hover .text{
    transform: translateY(72%);
}
.cards:hover{
    height: 300px;
}
